* {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

:root {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);

  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  --green: rgba(89, 227, 145, 1);
  --blue: rgba(80, 53, 255, 1);
  --light-blue: rgba(46, 217, 255, 0.9);
  --dark: #1a1a1a;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

body {
  align-items: center;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

  display: flex;
  font-family: 'Karla', sans-serif;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  place-items: center;
}

main {
  align-items: center;
  background: rgba(245, 245, 245, 1);
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 114px 0px var(--light-blue);
  -moz-box-shadow: 0px 0px 114px 0px var(--light-blue);
  box-shadow: 0px 0px 114px 0px var(--light-blue);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: rgba(black, .4);
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;

  &:hover {
    background-color: rgba(black, .8);
  }


}

.button-toggle {
  &.fade {
    opacity: .5;
  }
}

.button-play-pause {
  border-radius: 12rem;
  padding: .2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}